.about-us {
  position: relative;
  margin-top: 70px;
  padding-left: 30px;
  height: 100%;

  &::after {
    content: "";
    position: absolute;
    top: -35px;
    width: 325px;
    right: 5px;
    height: 6px;

    background: url("../../img/bg-zigzag-line.svg");
    background-size: 100% auto;
  }
}

.about-us__title {
  margin: 0;
  padding: 0;

  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: $color-dark;
}

.about-us__list {
  margin: 0;
  padding: 0;
  margin-top: 31px;

  list-style: none;
}

.about-us__item {
  margin: 0;
  padding: 0;
  padding-top: 53px;
  padding-bottom: 30px;

  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  color: $color-dark;

  &--ecology {
    width: 175px;

    background: url("../../img/icon-feature-flower.svg") no-repeat;
    background-position-x: 8px;
  }

  &--scandinavian {
    width: 200px;

    background: url("../../img/icon-feature-money.svg") no-repeat;
    background-position-y: 2px;
  }

  &--likes {
    width: 181px;

    background: url("../../img/icon-feature-heart.svg") no-repeat;
    background-position-x: 8px;
    background-position-y: 6px;
  }

  &--related {
    width: 211px;

    background: url("../../img/icon-feature-ball.svg") no-repeat;
    background-position-x: 4px;
    background-position-y: 4px;
  }

  &--support {
    width: 251px;

    background: url("../../img/icon-feature-rocket.svg") no-repeat;
    background-position-x: -2px;
    background-position-y: 5px;
  }

  &--supplied {
    width: 198px;

    background: url("../../img/icon-feature-gift.svg") no-repeat;
    background-position-x: 3px;
    background-position-y: 3px;
  }
}

@media (min-width: $tablet-width) {
  .about-us {
    margin-top: 117px;
    padding-left: 47px;
    padding-right: 47px;

    &::after {
      top: -65px;
      width: 775px;
      right: -5px;
      height: 15px;

      background: url("../../img/bg-zigzag-line.svg");
      background-size: 100% auto;
      transform: rotate(180deg);
    }
  }

  .about-us__title {
    font-size: 43px;
    line-height: 1.16;
  }

  .about-us__item {
    padding-top: 57px;
    padding-bottom: 54px;
    width: 300px;

    font-size: 20px;
    line-height: 1.1;

    &--ecology {
      width: 205px;
      padding-left: 6px;

      background: url("../../img/icon-feature-flower.svg") no-repeat;
      background-position-x: 15px;
      background-position-y: 4px;
    }

    &--scandinavian {
      width: 235px;
      padding-left: 6px;

      background: url("../../img/icon-feature-money.svg") no-repeat;
      background-position-x: 6px;
      background-position-y: 4px;
    }

    &--likes {
      width: 212px;
      padding-left: 6px;

      background: url("../../img/icon-feature-heart.svg") no-repeat;
      background-position-x: 14px;
      background-position-y: 9px;
    }

    &--related {
      width: 248px;
      margin-left: 54px;

      background: url("../../img/icon-feature-ball.svg") no-repeat;
      background-position-x: 4px;
      background-position-y: 6px;
    }

    &--support {
      width: 295px;
      margin-left: 54px;

      background: url("../../img/icon-feature-rocket.svg") no-repeat;
      background-position-x: -2px;
      background-position-y: 7px;
    }

    &--supplied {
      width: 233px;
      margin-left: 54px;

      background: url("../../img/icon-feature-gift.svg") no-repeat;
      background-position-x: 3px;
      background-position-y: 5px;
    }
  }

  .about-us__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 47px;
    height: 465px;
  }
}

@media (min-width: $desktop-width) {
  .about-us {
    margin-top: 155px;

    &::after {
      top: -81px;
      width: 1055px;
      right: 47px;
      height: 21px;

      background: url("../../img/bg-zigzag-line.svg");
      background-size: 100% auto;
      transform: rotate(180deg);
    }
  }

  .about-us__title {
    margin-left: 174px;

    font-size: 53px;
    line-height: 1.08;
  }

  .about-us__list {
    margin-left: 173px;
    margin-top: 45px;
    width: 700px;
  }

  .about-us__item {
    &--ecology {
      width: 205px;
      padding-right: 145px;

      background: url("../../img/icon-feature-flower.svg") no-repeat;
      background-position-x: 15px;
      background-position-y: 4px;
    }

    &--scandinavian {
      width: 235px;
      padding-right: 115px;

      background: url("../../img/icon-feature-money.svg") no-repeat;
      background-position-x: 6px;
      background-position-y: 4px;
    }

    &--likes {
      width: 212px;
      padding-right: 138px;

      background: url("../../img/icon-feature-heart.svg") no-repeat;
      background-position-x: 14px;
      background-position-y: 9px;
    }

    &--related {
      width: 248px;
      padding-right: 102px;
      margin: 0;

      background: url("../../img/icon-feature-ball.svg") no-repeat;
      background-position-x: 2px;
      background-position-y: 7px;
    }

    &--support {
      width: 295px;
      padding-right: 55px;
      margin: 0;

      background: url("../../img/icon-feature-rocket.svg") no-repeat;
      background-position-x: -2px;
      background-position-y: 8px;
    }

    &--supplied {
      width: 233px;
      padding-right: 117px;
      margin: 0;

      background: url("../../img/icon-feature-gift.svg") no-repeat;
      background-position-x: 2px;
      background-position-y: 5px;
    }
  }
}
