.categories__item {
  list-style: none;
}

.categories__list {
  margin: 0;
  padding: 0;
  margin-top: 122px;
}

.categories__item-interior {
  min-height: 103px;

  background-color: $btn-color;

  &:hover {
    background-color: $hvr-btn-color;
  }

  &:focus {
    background-color: $hvr-btn-color;
  }
}

.categories__item-toys {
  min-height: 103px;

  background-color: $scnd-btn-color;

  &:hover {
    background-color: $hvr-scnd-btn-color;
  }

  &:focus {
    background-color: $hvr-scnd-btn-color;
  }
}

.categories__link {
  display: block;
  width: 100%;
  height: 103px;
  box-sizing: border-box;
  padding-left: 29px;
  padding-top: 25px;
  padding-right: 185px;
  position: relative;

  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  text-align: left;
  color: #ffffff;

  &--img-interior {
    position: absolute;
    width: 40px;
    height: 62px;
    top: 23px;
    right: 36px;

    fill: #149080;
  }

  &--img-toys {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 21px;
    right: 27px;

    fill: #149080;
  }

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .categories__list {
    display: flex;
    margin-top: 374px;
    margin-left: 52px;
  }

  .categories__item {
    width: 334px;
    height: 119px;
  }

  .categories__link {
    padding-left: 36px;
    padding-top: 27px;
    padding-bottom: 16px;

    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;

    &--img-interior {
      top: 29px;
      right: 36px;
    }

    &--img-toys {
      top: 31px;
      right: 34px;
    }
  }
}

@media (min-width: $desktop-width) {
  .categories__list {
    margin-top: 358px;
    margin-left: 50px;
  }

  .categories__item {
    width: 525px;
  }

  .categories__link {
    padding-right: 395px;
  }
}
