.categories__item {
  list-style: none;
}

.categories__list {
  margin: 0;
  padding: 0;
  margin-top: 120px;
}

.categories__item-interior {
  min-height: 103px;

  background-color: $btn_color;

  &:hover {
    background-color: $hvr_btn;
  }

  &:focus {
    background-color: $hvr_btn;
  }
}

.categories__item-toys {
  min-height: 103px;

  background-color: $scnd_btn;

  &:hover {
    background-color: $hvr_scnd_btn;
  }

  &:focus {
    background-color: $hvr_scnd_btn;
  }
}

.categories__link {
  display: block;
  width: 106px;
  margin-left: 29px;
  padding-top: 30px;

  font-size: 19px;
  font-weight: bold;
  line-height: 1.26;
  text-align: left;
  color: #ffffff;

  &:focus {
    color: rgba(255, 255, 255, 0.3);
  }
}
