.contacts {
  margin-top: 87px;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: -42px;
    width: 325px;
    right: 5px;
    height: 6px;

    background: url("../img/bg-zigzag-line.svg") no-repeat 0 0;
    background-size: 100% auto;
  }
}

.contacts__title {
  margin: 0;
  padding: 0;
  padding-left: 28px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.67;
  text-align: left;
  color: $color-dark;
}

.contacts__field {
  width: 72px;
  padding-bottom: 26px;

  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  vertical-align: top;
  color: $color-bright;
}

.contacts__value {
  display: block;
  width: 145px;

  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  color: $color-bright;
}

.contacts__button {
  margin-top: 31px;
  margin-left: 30px;

  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: $color-bright;

  text-transform: uppercase;

  &:hover {
    color: #ffffff;

    background-color: $color-bright;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);

    background-color: $color-bright;
  }
}

.contacts__link {
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  color: #444444;

  border-bottom: solid 1px $hvr-scnd-btn-color;

  &:hover {
    color: $hvr-scnd-btn-color;
  }

  &:focus {
    opacity: 0.3;
  }
}

.contacts__table {
  margin-left: 27px;
  margin-top: 24px;
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .contacts {
    margin-top: 147px;

    &::after {
      top: -75px;
      width: 775px;
      right: 2px;
      height: 15px;

      background: url("../img/bg-zigzag-line.svg") no-repeat 0 0;
      background-size: 100% auto;
      transform: rotate(180deg);
    }

    &::before {
      content: "";

      position: absolute;
      width: 47px;
      height: 81px;
      top: -14px;
      right: 55px;

      background: url("../img/icon-flag.svg") no-repeat;
    }
  }

  .contacts__title {
    padding-left: 47px;

    font-size: 43px;
    line-height: 1.16;
  }

  .contacts__table {
    margin-left: 48px;
    margin-top: 47px;
    margin-bottom: 53px;
  }

  .contacts__table tbody {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .contacts__table tr {
    display: flex;
    width: 335px;
  }

  .contacts__field,
  .contacts__value {
    font-size: 17px;
    line-height: 1.76;
  }

  .contacts__button {
    margin: 0;
    margin-top: 45px;
    margin-left: 270px;
    width: 225px;
  }

  .contacts__link {
    font-size: 17px;
    line-height: 1.76;
  }

  .contacts__map {
    width: 768px;
    height: 457px;
  }

  .contacts__value {
    padding-left: 4px;
    width: 225px;
  }
}

@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    height: 500px;

    &::after {
      top: -83px;
      width: 1055px;
      right: 47px;
      height: 23px;

      background: url("../img/bg-zigzag-line.svg") no-repeat 0 0;
      background-size: 100% auto;
      transform: rotate(180deg);
    }

    &::before {
      content: "";

      position: absolute;
      width: 47px;
      height: 81px;
      top: 73px;
      left: 113px;

      background: url("../img/icon-flag.svg") no-repeat;
    }
  }

  .contacts__title {
    padding-left: 220px;
    padding-top: 80px;

    font-size: 53px;
    line-height: 1.08;
  }

  .contacts__button {
    margin-left: 226px;
    margin-top: 25px;
  }

  .contacts picture {
    order: 4;
  }

  .contacts__map {
    margin-top: 11px;
    width: 525px;
    height: 457px;
  }

  .contacts__table tbody {
    flex-direction: column;
  }

  .contacts__table {
    display: block;
    margin-top: 50px;
    margin-left: 223px;
    width: 300px;
  }
}
