.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-nav__link {
  font-size: 17px;
  font-weight: bold;
  line-height: 1.41;
  text-align: left;
  color: $color-black;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }
}

.main-nav__toggle {
  width: 20px;
  height: 14px;

  border: none;
  background-color: #ffffff;
  background-image: url("../../img/icon-menu-open.svg");

  cursor: pointer;
}
