.page-footer {
  margin-top: 39px;

  background-color: $bg-color-footer;
}

.page-footer__logo {
  display: none;
}

@media (min-width: $tablet-width) {
  .page-footer {
    margin-top: 57px;
    min-height: 143px;
  }

  .page-footer__logo {
    display: block;
    margin-top: 50px;
    margin-left: 50px;
    width: 102px;
    height: 34px;
  }

  .page-footer__container {
    display: flex;
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    margin-top: 70px;
  }

  .page-footer__container {
    width: 1150px;
  }
}
