.page-main__title {
  width: 244px;
  margin: 0 auto;
  padding-top: 93px;

  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: $color-black;
}

.page-main {
  background: url("../../img/hero-mobile@1x.jpg") no-repeat;
}

.button {
  display: block;
  width: 256px;
  height: 35px;
  padding-top: 13px;

  border: solid 2px $color-grey;
}
