.page-header {
  width: 100%;
  position: relative;
}

.page-header__logo-image {
  display: block;
  margin: 0 auto;
}

@media (min-width: $desktop-width) {
  .page-header__logo-image {
    position: absolute;
    width: 234px;
    height: 43px;
    top: 20px;
    right: 65%;
  }
}
