.page-catalog {
  background: linear-gradient(#f1f1f1 0%, #f1f1f1 177px, #ffffff 177px, #ffffff 100%);
}

.page-catalog__title {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: $color-black;
}
