.social__list {
  display: flex;
  margin: 0 auto;
  padding: 0;
  padding-top: 25px;
  width: 147px;
  justify-content: space-between;

  list-style: none;
}

.social__link {
  &--twitter {
    display: block;
    margin-top: 4px;
    margin-right: 5px;
  }

  &--instagram {
    display: block;
    margin-top: 4px;
  }

  &:hover {
    fill: $hvr-scnd-btn-color;
  }

  &:focus {
    fill: $hvr-scnd-btn-color;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    padding-top: 57px;
    margin-left: 160px;
  }
}

@media (min-width: $desktop-width) {
  .social__list {
    padding-top: 59px;
    padding-left: 189px;
  }
}
