.social {
  margin: 0 auto;
  width: 70px;
}

.social__list {
  margin: 0;
  padding: 0;
  margin-top: 75px;
  display: flex;
  justify-content: space-between;
}

.social__link {
  color: #b4b6c9;

  &:hover {
    color: #ffffff;
  }
}


@media (min-width: $desktop-width) {
  .social {
    width: 135px;
  }
}
