.about-us__title {
  font-family: "OpenSans", Arial , sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #000000;
}

.about-us__description {
  list-style:none;
}

.description-list__item {
  font-family: "OpenSans", Arial , sans-serif;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.18;
  text-align: left;
  color: #000000;
}
