.reviews__title {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  color: #000000;
}

.reviews__list {
  list-style: none;
}

.reviews__text {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: normal;
  line-height: 2;
  text-align: left;
  color: #444444;
}

.reviews__author {
  &-name {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 1.41;
    text-align: left;
    color: #000000;
    font-style: normal;
  }

  &-email {
    font-family: "OpenSans", "Arial", sans-serif;
    font-size: 17px;
    font-weight: normal;
    line-height: 1.76;
    text-align: left;
    color: #444444;
  }
}

.reviews__toggles {
  width: 260px;
  height: 52px;
  border: solid 1px #ececec;
  background-color: #ffffff;
}

.reviews__toggle {
  width: 125px;
  height: 50px;

  cursor: pointer;
}

.reviews__toggle-back {
  border: none;
  background: url("../../img/icon-left-arrow.svg") no-repeat #ffffff;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.reviews__toggle-forward {
  border: none;
  background: url("../../img/icon-right-arrow.svg") no-repeat #ffffff;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    opacity: 0.3;
  }
}

.reviews__button {
  font-family: "OpenSans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
  color: #444444;

  text-decoration: none;

  &:hover {
    background-color: #444444;
    color: #ffffff;
  }

  &:focus {
    color: rgba(255, 255, 255, 0.3);
    background-color: #444444;
  }
}
